<div style="clear:both"></div>
<div class="hr-class"></div>
<div class="color-footer">
<div class="container">
    <div class="row" id="footer">
        <?php for ($i=0; $i<4; $i++) { ?>
        <div class="col-md-3">
            <div class="footer-col-header">Information</div>
            <div class="footer-col-body">
                <ul>
                    <?php for ($y=0; $y<4; $y++) { ?>
                    <li><a href="">My Account</a></li>
                    <?php } ?>
                </ul>
            </div>
        </div>
        <?php } ?>
    </div>
</div>
</div>