<div class="img-responsive" style="position: relative; background-image: url('..{{image_header_bottom | media}}'); background-size: 100% auto; background-repeat: no-repeat;" >
    
<!-- <div class="category-top">
    <img class="img-responsive" src="{{image_header_bottom | media}}" />
</div> -->
<div class="container" id="breadcrumb-div">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            {{breadCrumb | breadCrumbDisplay}}
        </ul>
    </div>
</div>
<div class="container" id="category-div">
    <div class="row" id="sort-grid">
        <div class="col-md-3 sort-grid" id="sort-grid-count">Showing {{count}} result</div>
        <div class="col-md-6"></div>
        <div class="col-md-1 sort-grid" id="sort-grid-sort-by">Sort By</div>
        <div class="col-md-2 sort-grid" id="sort-grid-select">
            <div class="form-group">
                <select name="sort-by" id="product-sort-by" class="form-control">
                    <option value="">-- sort by --</option>
                    <option value="price-asc" {{sortByString == 'price-asc' ? 'selected' : ''}}>Price low to high</option>
                    <option value="price-desc" {{sortByString == 'price-desc' ? 'selected' : ''}}>Price high to low</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" id="filter-div">
            <div class="filter-search form-group">
                <input type="text" name="search_product" id="search_product" class="form-control" value="{{key}}" />
                <i class="fa fa-search" id="category-fa-search" aria-hidden="true"></i>
            </div>
            <div class="filter-price">
                <div id="price-range">
                    <b class="pull-left">€ {{minMaxPrice.min}}</b> <b class="pull-right">€ {{minMaxPrice.max}}</b>
                </div>
                <input id="ex2" type="text" class="span2" value=""
                         data-slider-min="{{minMaxPrice.min}}" data-slider-max="{{minMaxPrice.max}}"
                         data-slider-step="5"
                         data-slider-value="[{{priceRange[0]}},{{priceRange[1]}}]"/>
            </div>
            {% for f in filter%}
            <div class="filter-header">
                {{f.filter.name}}
            </div>
            <div class="filter-body">
                <ul>
                    {% for o in f.options %}
                    {% if o.product_count != 0 %}
                    <li>
                        <input type="checkbox" class="filter-option" value="{{o.option_id}}"
                               {{o.option_id in filterChecked ? 'checked' : ''}}/>
                        <a href="javascript:void(0);">{{o.option_name}}</a>
                        <span class="filter-counter">{{o.product_count}}</span>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-9" id="list-product">
            <div class="row category-short-intro">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </div>
            <div class="row">
                {% if data is not empty %}
                {% set i = 1 %}
                {% for product in data%}
                <div class="col-md-4 product-div {{i in firstArray ? 'first' : ''}}">
                    <div class="image-container" >
                            <div class="alinear-verticalmente">
                        <div class="product-image">
                            <a href="{{product.slug}}">
                            <img class="img-responsive" src="{{product.featured_image | media | noImage }}">
                            </a>
                        </div>
                    </div>
                </div>

                    <div class="product-name text-center">
                        <a href="{{product.slug}}">{{product.name}}</a>
                    </div>
                    <div class="product-price text-center">
                        {{product.price | displayPriceAndCurrency}}
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary {{product.action_class}}"
                                attr-qty="{{product.qty}}"
                                attr-qty-order="{{product.qty_order}}"
                                attr-name="{{product.name}}"
                                attr-image="{{product.featured_image}}"
                                attr-price="{{product.final_price}}"
                                attr-product-id="{{product.id}}"
                                attr-slug="{{product.slug}}"
                                attr-weight="{{product.weight}}"
                                attr-weight-id="{{product.weight_id}}"
                                >
                            {{product.action_text}}
                        </button>
                    </div>
                </div>
                {% set i = i + 1 %}
                {% endfor %}
                {% else %}
                No data
                {% endif %}
            </div>

            <div class="row text-center">
                <div class="pagination">
                    <ul>
                        {% if pages.currentPage != 1 %}
                        <li><a href="javascript:void(0)" class="cat-pag" attr-page="1"> << </a></li>
                        <li><a href="javascript:void(0)" class="cat-pag" attr-page="{{page.currentPage - 1}}"> < </a></li>
                        {% endif %}
                        {% if pages.totalPages != 1 %}
                            {% for page in pages.pages %}
                            <li class="">
                                <a href="javascript:void(0)"
                                            class="{{pages.currentPage == page ? 'active' : ''}} cat-pag"
                                            attr-page="{{page}}">{{page}}
                                </a>
                            </li>
                            {% endfor %}
                        {% endif %}
                        {% if pages.currentPage != pages.totalPages %}
                        <li><a href="javascript:void(0)" class="cat-pag" attr-page="{{pages.currentPage + 1}}"> > </a></li>
                        <li><a href="javascript:void(0)" class="cat-pag" attr-page="{{pages.totalPages}}"> >> </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


