<div class="row table-responsive">
    <table class="table" id="table-cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product's name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cartDetail %}
        <tr class="cart-tr">
            <td>
                <a href="{{item.slug}}">
                    <img class="cart-product-image" src="{{item.image | media}}" />
                </a>
            </td>
            <td class="cart-product-name"><a href="{{item.slug}}">{{item.name}}</a></td>
            <td>{{item.price | displayPriceAndCurrency}}</td>
            <td>
                <input type="number" name="qty" class="cart-qty"
                       attr-qty="{{item.qty_origin}}"
                       attr-qty-order="{{item.qty_order}}"
                       attr-name="{{item.name}}"
                       attr-image="{{item.featured_image}}"
                       attr-price="{{item.price}}"
                       attr-product-id="{{item.id}}" value="{{item.qty}}"/>
            </td>
            <td>$ {{item.total_price_per_item}}</td>
            <td>
                <i class="fa fa-trash-o cart-remove-item-detail" attr-product-id="{{item.id}}" aria-hidden="true"></i>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn btn-default pull-left">Continue shopping</div>

    </div>
</div>
<!-- COUPON -->
<br/>
<div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4" id="cart-total-div">
        <div id="cart-total-title">
            Cart total
        </div>
        <div id="cart-total-sum">
            <table>
                <tbody>
                <tr>
                    <td>Subtotal</td>
                    <td>{{totalPrice | displayPriceAndCurrency}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{totalPrice | displayPriceAndCurrency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <a href="/checkout" class="btn btn-primary">
            Process to checkout
        </a>
    </div>
</div>
<div class="hr-class"></div>