<div class="img-responsive" style="position: relative; background-image: url('..{{image_header_bottom | media}}'); background-size: 100% auto; background-repeat: no-repeat;" >
<!-- <div class="category-top">
    <img class="img-responsive" src="{{image_header_bottom | media}}" />
</div> -->
<div class="container" id="breadcrumb-div">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Carrito</a></li>
        </ul>
    </div>
</div>
<div class="container" id="cart-div">

</div>
</div>
