description = "Default layout"

[Ideas\Shop\Components\Cart Cart]
[RainLab\User\Components\Session Session]
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ seo_title }}</title>
    <meta name="description" content="{{ seo_keyword }}">
    <meta name="keywords" content="{{ seo_description }}">
    <meta name="author" content="ideasPro">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="ideaspro">
    <link rel="icon" type="image/png" href="{{ 'assets/images/ideas_shop.png'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/font-awesome.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/owl/assets/owl.carousel.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/owl/assets/owl.theme.default.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/xzoom/xzoom.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/bxslider/jquery.bxslider.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/select2/css/select2.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/star_rating/rating.css'|theme }}">
    <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
    {% styles %}
</head>
<body>

{% partial 'site/header' %}
<!-- Content -->
{% page %}
<!-- end content -->
{% partial 'site/footer' %}

{% partial 'site/modalConfirmCart' %}


<!-- Scripts -->
<script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap/js/bootstrap.js'|theme }}"></script>
<script src="{{ 'assets/vendor/owl/owl.carousel.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/xzoom/xzoom.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bxslider/jquery.bxslider.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/select2/js/select2.full.js'|theme }}"></script>
<script src="{{ 'assets/vendor/star_rating/rating.js'|theme }}"></script>
<!--<script src="{{ 'assets/js/theme.js'|theme }}"></script>-->

{% framework extras %}
{% scripts %}

</body>
</html>