<div id="product-search-div">
{% if data is not empty %}
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
        {% for product in data %}
        <div class="product-search">
            <div class="image">
                <a href="/{{product.slug}}">
                    <img src="{{product.featured_image | media}}"/>
                </a>
            </div>
            <div class="name"><a href="/{{product.slug}}">{{product.name}}</a></div>
            <div class="short-intro">{{product.attribute.short_intro}}</div>
        </div>
        {% endfor%}
        </div>
   </div>
   <div class="row text-center">
    {{ data.links | raw}}
   </div>
{% else %}
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            There is no product
        </div>
    </div>
{% endif%}
</div>