<div class="row">
    <h2 class="text-center">Úlitmos productos agregados</h2>
    <div class="text-center">
        <p>
            Estos son las novedades que ofrecemos para la venta
        </p>
    </div>
</div>
<div class="row">
    {% for product in arrivals %}
    <div class="image-container-medium col-md-6" >
        <div class="alinear-verticalmente">
            <div class="new-arrival-image"><img class="img-responsive" src="{{ product.featured_image|media|noImage }}" /></div>
        </div>
    </div>
    {% endfor %}
</div>
