<div class="row">
    <h2 class="text-center">Productos ofrecidos</h2>
    <div class="text-center">
        <p>
            Tenemos los mejores productos en nuestra tienda
        </p>
    </div>
</div>
<div class="row">
    {% for product in featured %}
    <div class="col-md-3 product-div">
        <div class="product-image text-center">
                <div class="image-container" >
                        <div class="alinear-verticalmente">
                            <a href="{{product.slug}}">
                            {% if product.featured_image is empty %}
                            <img src="{{ 'assets/images/no_image.jpeg' | theme }}" />
                            {% else %}
                            <img src="{{ product.featured_image | media |noImage  }}" />
                            {% endif %}
                            </a>
                        </div>
                </div>
            </div>
        <div class="product-name text-center">
            <a href="{{product.slug}}">
                {{product.name}}
            </a>
        </div>
        <div class="product-price text-center">
            {{product.price | displayPriceAndCurrency}}
        </div>
        <div class="text-center">
            <button class="btn btn-primary {{product.action_class}}"
                    attr-qty="{{product.qty}}"
                    attr-qty-order="{{product.qty_order}}"
                    attr-name="{{product.name}}"
                    attr-image="{{product.featured_image}}"
                    attr-price="{{product.final_price}}"
                    attr-product-id="{{product.id}}"
                    attr-slug="{{product.slug}}"
                    attr-weight="{{product.attribute.weight}}"
                    attr-weight-id="{{product.attribute.weight_id}}"
                    >
                {{product.action_text}}
            </button>
        </div>
    </div>
    {% endfor %}
</div>