<div class="row" id="ship-return">
    {% for ship in ship_slide %}
    {% for image in ship.image %}
    <div class="col-md-4 text-center">
        <div class="ship-return-image "><img class="img-fluid" src="{{image.url | media | noImage }}" /> </div>
        <div class="ship-return-title">{{image.title}}</div>
        <div class="ship-return-content">
            {{image.description}}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>