<div class="row">
    <h2 class="text-center">Bienvenidos a nuestra tienda online</h2>
    <div class="text-center">
        <p>
            Listado de artículos que ofrecemos en la web
        </p>
    </div>
</div>

<div class="row">
        <div class="col-md-3 homepage-image-welcome">
                <div class="image-container" >
                    <div class="alinear-verticalmente">
                        <a href="{{welcome[0].image[0].link}}">
                            <img src="{{ welcome[0].image[0].url | media }}"/>
                        </a>
                    </div>
                </div>
                <div class="image-container" >
                    <div class="alinear-verticalmente">
                        <a href="{{welcome[0].image[1].link}}">
                            <img src="{{ welcome[0].image[1].url | media }}" />
                        </a>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="image-container-principal">
                <div class="alinear-verticalmente">
                    <a href="{{welcome[0].image[2].link}}">
                        <img class="img-responsive" src="{{ welcome[0].image[2].url | media }}" />
                    </a>
                </div>
        </div>
        </div>
        <div class="col-md-3 homepage-image-welcome">
                <div class="image-container" >
                <div class="alinear-verticalmente">
                    <a href="{{welcome[0].image[3].link}}">
                        <img src="{{ welcome[0].image[3].url | media }}"/>
                    </a>
                </div>
            </div>
            <div class="image-container" >
                <div class="alinear-verticalmente">
                    <a href="{{welcome[0].image[4].link}}">
                        <img  src="{{ welcome[0].image[4].url | media }}" />
                    </a>
                </div>
            </div>
        </div>
</div>